{% extends "base.html" %}
{% block title %}Career Builder - Registration{% endblock %}

{%block content%}
    <div class="container page-content">                       
        <div class="row">
			<div class="hero-unit">
				<h1>User Registration</h1>
				<br/>
				<form action="" method="post">
					{% csrf_token %}
					{{ form.as_p }}
					<button type="submit" value="Create Account" class="btn btn-primary"><i class="icon-ok"></i> Create Account</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
