{% extends "base.html" %}
{% block title %} {{ formType|capfirst }} Experience {% endblock %}
{% block head %}

    <link href="{{ STATIC_URL }}css/ui-lightness/jquery-ui-1.10.2.custom.css" rel="stylesheet" media="screen">

{% endblock %}

{% block content %}
	<div class="page-header">
    	<h1>{{ formType|capfirst }} Experience</h1>    	
		<form action="" method="post">
			{% csrf_token %}
			<table>
				{{ form.as_table }}
			</table>
			<button type="submit" value="Submit" class="btn"><i class="icon-ok"></i> Submit </button>
			{% if formId and formType != 'other' %}
			<a href="{% url delete_request formType formFromId.id %}" class="btn btn-danger"><i class="icon-trash"></i> Delete Entry</a>
			{% endif %}
		</form>
	</div>

<script src="{{ STATIC_URL }}js/jquery-ui-1.10.2.custom.js"></script>
<script>
	$(document).ready(function() {
		$( "#id_startDate" ).datepicker();
		$( "#id_endDate" ).datepicker();
	});
</script>

{% endblock %}