{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}
	<div class="hero-unit" style="text-align: center;">
    	<h1 class="text-center">Welcome to Career Builder!</h1>
    	</br>
    	<p>Keep track of what you've worked on at the OCIO. Did you make a rad webapp? Write a sweet function? Boost productivity by leveraging syneristic, impactful, game-changing ITSM strategies? Well you can totally document it right here!</p>
    	{% if not user.is_authenticated %}
    	<a href="/accounts/register" class="btn btn-success btn-large" style="float:none;"><i class="icon-plus"></i> Register</a>
    	<a href="{% url login %}" class="btn btn-primary btn-large" style="float: none;"><i class="icon-signin"></i> Login</a> {% endif %}

	</div>

{% if userList %}
	<h3>Look at all these awesome people!</h3>
	<ul class="thumbnails">
	<div class="row-fluid">
	{% for user in userList %}
	    {% if forloop.counter0|divisibleby:4 %}
	    	</div>
	   		</ul>
	    	<ul class="thumbnails">
	    	<div class="row-fluid" style="text-align: center;">
	    {% endif %}
				<li class="span3">
					<div class="thumbnail">
						<a href="{% url profile user.user.id %}">
						{% if user.image %}
						<img src="{{ user.image.url }}" alt="{{ user }}" class="img-rounded" style="width: 270px; height: 210px;">
						{% else %}
						<img src="Media/Images/default.jpg" alt="{{ user }}" class="img-rounded" style="width: 270px; height: 210px;">
						{% endif %}
						<h4 class="text-center">{{ user }}</h4></a>
					</div>
				</li>
    {% endfor %}
	</div>
	</ul>
{% else %}
    <p>No users available.</p>
{% endif %}
{% endblock %}
