<div class="span3" style="position:fixed">
		<h2>{{ userProfile }}</h2>
		{% if userProfile.image %}
			<img src="{{ userProfile.image.url }}" class="img-rounded">
		{% else %}
			<img src="/Media/Images/default.jpg" class="img-rounded">
		{% endif %}

		</br>
		</br>
		{% if userProfile.email %}Email: <a href="mailto:{{ userProfile.email }}">{{ userProfile.email }}</a></br>{% endif %}
		{% if userProfile.url %}Web: <a href="{{ userProfile.url }}">{{ userProfile.url }}</a></br>{% endif %}
		{% if userProfile.phone %}Phone: {{ userProfile.phone }}</br></br>{% endif %}

		{% if user.is_authenticated and isThisUser %}
			<a href="{% url add_form 'project' %}" class="btn btn-large btn-block btn-danger" type="button" >+ Project</a>
			<a href="{% url add_form 'code' %}" class="btn btn-large btn-block btn-danger" type="button" >+ Code Snippet</a>
			<a href="{% url add_form 'work' %}" class="btn btn-large btn-block btn-danger" type="button">+ Work</a>
			<a href="{% url add_form 'volunteer' %}" class="btn btn-large btn-block btn-danger" type="button">+ Volunteering</a>
			<a href="{% url edit_form 'other' userProfile.user.id %}" class="btn btn-large btn-block btn-danger" type="button">+ Other Info</a>
			<a class="btn dropdown-toggle btn-large btn-block" data-toggle="dropdown" style="position:relative;"href="#">
		    	Export To
		    	<span class="caret"></span>
		  	</a>
		  	<ul class="dropdown-menu">
		    	<!-- dropdown menu links -->
		    	<li><a href="{% url export 'pdf' userProfile.user.id %}">PDF</a></li>
		    	<li><a href="{% url export 'txt' userProfile.user.id %}">Plain Text</a></li>
		 	</ul>
		{% endif %}
</div>
