{% extends "base.html" %}
{% block title %}{{ user }} - Career Builder{% endblock %}
{% block head %}
<style type="text/css">
h4{
    display: inline;
}​
</style>
{% endblock %}

{% block content %}
<div class="span3">
	<h2>{{ user }}</h2>
	<h3>Contact Info</h3>
	<ul>
		{% if user.email %} <li><a href="mailto:{{ user.email }}">{{ user.email }}</a></li> {% endif %}
		{% if user.url %} <li>{{ user.url }}</li> {% endif %}
		{% if user.phone %} <li>{{ user.phone }}</li> {% endif %}
		{% if user.altPhone %} <li>{{ user.altPhone }} </li> {% endif %}
	</ul>
</div>
<div class="span9">
	{% if projects %}
	<h3>Project{{ projects|pluralize }}</h3>
		{% for project in projects %}
		<div class="well">
			<h4>{% if project.projectURL %}<a href="{{ project.projectURL }}">{{ project.title }}</a>{% else %}{{ project.title }}{% endif %}
			{% if project.isPublic %}<span class="label label-success pull-right" style="margin-left: 5px;">Is Public</span>{% endif %}
			{% if project.inDevelopment %}<span class="label label-warning pull-right">In Development</span>{% endif %}
			</h4>
			{% if project.projectImage %}
			<div class="row-fluid">
				<div class="span9">
					<p><br/>{{ project.description }}</p>
				</div>
				<ul class="thumbnails">
					<li class="span3 pull-right">
						<a href="#" class="thumbnail">
							<img src="{{ project.projectImage.url }}" alt="" style="width: 300px; height: 200px;">
						</a>
					</li>
				</ul>
			</div>
			{% else %}
				<p><br/>{{ project.description }}</p>
			{% endif %}

		</div>
		{% endfor %}
	{% endif %}

	{% if workExperience %}
	<hr>
	<h3>Work Experience</h2>
		{% for work in workExperience %}
		<h4>{{ work }} at {{ work.location }}</h4>
		<ul>
			<li>{{ work.startDate }} {% if work.endDate %} to {{work.endDate}}{% endif %}</li>
			<li>{{ work.description }}</li>
			<li>Supervisor</li>
			<ul>
				<li>{{ work.supervisorName }}</li>
				<li>{{ work.supervisorEmail }}</li>
			</ul>
		</ul>
		{% endfor %}
	{% endif %}

	{% if volunteerExperience %}
	<hr>
	<h3> Volunteer Experience</h3>
		{% for vol in volunteerExperience %}
		<h4>{{ vol.jobTitle }}{% if vol.organization %} with {{ vol.organization }}{% endif %}{% if vol.location %} at {{ vol.location }}{% endif %}</h4>
		<ul>
			<li>{{ vol.startDate }} {% if vol.endDate %} to {{vol.endDate}}{% endif %}</li>
			<li>{{ vol.description }}</li>
			<ul>
				<li>{{ vol.supervisorName }}</li>
				<li>{{ vol.supervisorEmail }}</li>
			</ul>
		</ul>
		{% endfor %}
	{% endif %}
</div>
{% endblock %}