{% extends "base.html" %}
{% block title %}{{ userProfile }} - Career Builder{% endblock %}
{% block head %}

<style type="text/css">
h4 { display: inline; } ​
h3 { display: inline-block;}
</style>
{% endblock %}

{% block content %}
<div class="container-fluid page-content">
        <div class="row-fluid">
{% include "profile_menu.html" %}
{% include "profile_body.html" %}

</div>
</div>

<script>
	$(window).on("resize", function() {
		if ( $(window).width() <= 767) {
		   $('#menu').css('position','');
		   $('#menu').css('width','');
		   $('#body').removeClass('offset3')
		}
		else {
		   $('#menu').css('position','fixed');
		   $('#menu').css('width','24%');
		   $('#body').addClass('offset3')
		}
	}).resize();
</script>
{% endblock %}
